.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: var(--space-5) var(--gutter);
}

.logo {
  display: block;
}

.cart {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  font-size: var(--fs-base);
}
